<%- include('../partials/header.ejs') %>
  <%- include('../partials/topservice.ejs') %>
    <div>
      <!--banner slider-->
      <div class="banner-slider">
        <div class="slid-img">
          <img src="/images/TRAVEL-LOAN-Back.png" alt="Celebrate Tradition with Elegance">
        </div>
        <div class="slider">
          <div class="container">
            <div class="row">
              <div class="col-md-8">
                <div class="slid-text">
                  <h1>Celebrate <span>Tradition</span> with Elegance</h1>
                  <p>Travel Loan </p>
                  <p>Travel Credit Line up to ₹5,00,000</p>
                  <p>Apply for your travel line of credit with TM Trip and experience seamless global
                    travel
                    finan</p>
                  <a href="#" class="popupbtnsec">Apply Now </a>
                </div>
              </div>
              <div class="col-md-4">
                <div class="slidertext-img">
                  <img src="/images/airplane.png" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <!-- Flight search list -->
      <% if (data && data.status==='success' && data.flights && data.flights.length> 0) { %>
        <div class="flight-search comonmarpad">
          <div class="container">
            <div class="row">

              <div class="col-md-4">

                <div class="flight-filter">
                  <h3>Filters <span>Reset</span></h3>
                  <div class="filter-box">
                    <h4>Popular Filters</h4>
                    <ul>
                      <li>
                        <span>
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="non-stop">
                            <label>Non-stop</label>
                          </div>
                        </span>
                      </li>
                      <li>
                        <span>
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="morning-departurep">
                            <label>Morning Departure</label>
                          </div>
                        </span>
                      </li>
                      <li>
                        <span>
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="indigo">
                            <label>IndiGo</label>
                          </div>
                        </span>
                      </li>
                      <li>
                        <span>
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="air-india">
                            <label>Air India</label>
                          </div>
                        </span>
                      </li>
                      <li>
                        <span>
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="air-india-express">
                            <label>Air India Express</label>
                          </div>
                        </span>
                      </li>
                      <li>
                        <span>
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="akasaair">
                            <label>AkasaAir</label>
                          </div>
                        </span>
                      </li>
                      <li>
                        <span>
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="spicejet">
                            <label>SpiceJet</label>
                          </div>
                        </span>
                      </li>
                    </ul>
                  </div>

                  <div class="filter-box">
                    <h4>Stops</h4>
                    <ul>
                      <li>
                        <span>
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="non-stop">
                            <label>Non-stop</label>
                          </div>
                        </span>
                      </li>
                      <li>
                        <span>
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="stop">
                            <label>1 stop</label>
                          </div>
                        </span>
                      </li>
                      <li>
                        <span>
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="stop">
                            <label>2+ stop</label>
                          </div>
                        </span>
                      </li>
                    </ul>
                  </div>

                  <div class="filter-box">
                    <h4>Airlines</h4>
                    <ul>
                      <li>
                        <span>
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="indigo">
                            <label>IndiGo</label>
                          </div>
                        </span>
                      </li>
                      <li>
                        <span>
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="air-india">
                            <label>Air India</label>
                          </div>
                        </span>
                      </li>
                      <li>
                        <span>
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="air-india-express">
                            <label>Air India Express</label>
                          </div>
                        </span>
                      </li>
                      <li>
                        <span>
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="akasaair">
                            <label>AkasaAir</label>
                          </div>
                        </span>
                      </li>
                      <li>
                        <span>
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="spicejet">
                            <label>SpiceJet</label>
                          </div>
                        </span>
                      </li>
                    </ul>
                  </div>

                </div>

              </div>




              <div class="col-md-8">
                <% data.flights.forEach(function (flight) { const bond=flight?.Bonds?.[0] || {}; const
                  leg=bond?.Legs?.[0] || {}; const paxFare=flight?.Fare?.PaxFares?.[0] || {}; const
                  airlineName=leg.FlightName || "Airline" ; const airlineCode=leg.CarrierCode || "XX" ; const
                  flightNo=leg.FlightNumber || "" ; const departTime=leg.DepartureTime || "--:--" ; const
                  arriveTime=leg.ArrivalTime || "--:--" ; const fromCity=leg.Origin || "---" ; const
                  toCity=leg.Destination || "---" ; const duration=leg.Duration || bond.JourneyTime || "--" ; const
                  stops=leg.NumberOfStops==="0" ? "Non-stop" : leg.NumberOfStops + " Stops" ; const
                  price=paxFare.TotalFare || flight?.Fare?.TotalFareWithOutMarkUp || 0; const traceId=data.TraceId;
                  const itineraryKey=flight.ItineraryKey; %>


                  <div class="col-md-12">
                    <div class="flight-card premium">
                      <div class="flight-main">

                        <!-- Airline -->
                        <div class="airline">
                          <img src="/images/<%= airlineCode %>.png" alt="<%= airlineName %>">
                          <span class="code">
                            <%= airlineCode %>-<%= flightNo %>
                          </span>
                        </div>

                        <!-- Departure -->
                        <div class="time-box">
                          <h3>
                            <%= departTime %>
                          </h3>
                          <span>
                            <%= fromCity %>
                          </span>
                        </div>

                        <!-- Duration -->
                        <div class="duration">
                          <p>
                            <%= duration %>
                          </p>
                          <small>
                            <%= stops %>
                          </small>
                        </div>

                        <!-- Arrival -->
                        <div class="time-box">
                          <h3>
                            <%= arriveTime %>
                          </h3>
                          <span>
                            <%= toCity %>
                          </span>
                        </div>

                        <!-- Price -->
                        <div class="price-section">
                          <h3 class="price">₹<%= price %>
                          </h3>
                          <input type="radio" name="selectedFlight" data-traceid="<%= traceId %>"
                            data-itinerary="<%= itineraryKey %>" checked>
                        </div>

                      </div>

                      <div class="footer-link">
                        <a href="#" class="flight-detail-btn" data-itinerary="<%= itineraryKey %>">
                          Flight Detail
                        </a>
                      </div>
                    </div>
                  </div>


                  <% }); %>

              </div>
            </div>
          </div>
        </div>
        <% } else { %>
          <p>No flights found</p>
          <% } %>


    </div>



    <%- include('../partials/footer.ejs') %>